USE [master]
GO
/****** Object:  Database [KutuphaneDB]    Script Date: 27.12.2025 15:53:12 ******/
CREATE DATABASE [KutuphaneDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KutuphaneDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneDB]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NOT NULL,
	[soyad] [varchar](50) NOT NULL,
	[email] [varchar](120) NOT NULL,
	[sifre_hash] [varchar](255) NOT NULL,
	[rol] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[yazar] [nvarchar](100) NOT NULL,
	[kategori] [nvarchar](50) NULL,
	[stok] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loans]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[alis_tarihi] [datetime] NULL,
	[son_teslim_tarihi] [datetime] NOT NULL,
	[iade_tarihi] [datetime] NULL,
	[ceza_tutari] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KimHangiKitabiOkuyor]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Şu an dışarıda olan kitaplar ve sahipleri

CREATE VIEW [dbo].[vw_KimHangiKitabiOkuyor] AS
SELECT 
    l.id AS loan_id,
    u.ad + ' ' + u.soyad AS okuyucu,
    b.ad AS kitap_adi,
    l.alis_tarihi,
    l.son_teslim_tarihi
FROM loans l
JOIN users u ON l.user_id = u.id
JOIN books b ON l.book_id = b.id
WHERE l.iade_tarihi IS NULL; -- Sadece iade edilmeyenler

GO
/****** Object:  View [dbo].[vw_EnCokOkuyanlar]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- En çok kitap okuyan öğrenciler (Top 5)
CREATE VIEW [dbo].[vw_EnCokOkuyanlar] AS
SELECT TOP 5
    u.id AS user_id,
    u.ad + ' ' + u.soyad AS ad_soyad,
    COUNT(l.id) AS okunan_kitap_sayisi
FROM users u
LEFT JOIN loans l ON u.id = l.user_id
GROUP BY u.id, u.ad, u.soyad;
GO
/****** Object:  Table [dbo].[alembic_version]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alembic_version](
	[version_num] [varchar](32) NOT NULL,
 CONSTRAINT [alembic_version_pkc] PRIMARY KEY CLUSTERED 
(
	[version_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fines]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[loan_id] [int] NOT NULL,
	[tutar] [decimal](10, 2) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[alembic_version] ([version_num]) VALUES (N'179c3f3298f2')
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [ad], [yazar], [kategori], [stok], [created_at]) VALUES (1, N'Nutuk', N'Mustafa Kemal Atatürk', N'Tarih', 9, CAST(N'2025-12-22T01:44:08.517' AS DateTime))
INSERT [dbo].[books] ([id], [ad], [yazar], [kategori], [stok], [created_at]) VALUES (2, N'Kırlangıç Çığlığı', N'Ahmet Ümit', N'Roman', 9, CAST(N'2025-12-21T23:00:40.280' AS DateTime))
INSERT [dbo].[books] ([id], [ad], [yazar], [kategori], [stok], [created_at]) VALUES (3, N'Sefiller', N'Victor Hugo', N'Roman', 8, CAST(N'2025-12-21T23:03:24.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[fines] ON 

INSERT [dbo].[fines] ([id], [user_id], [loan_id], [tutar], [aciklama], [created_at]) VALUES (1, 8, 11, CAST(80.00 AS Decimal(10, 2)), N'16 gün gecikme cezası', CAST(N'2025-12-26T11:07:15.583' AS DateTime))
INSERT [dbo].[fines] ([id], [user_id], [loan_id], [tutar], [aciklama], [created_at]) VALUES (2, 8, 12, CAST(80.00 AS Decimal(10, 2)), N'16 gün gecikme cezası', CAST(N'2025-12-26T11:07:32.657' AS DateTime))
INSERT [dbo].[fines] ([id], [user_id], [loan_id], [tutar], [aciklama], [created_at]) VALUES (3, 8, 14, CAST(80.00 AS Decimal(10, 2)), N'16 gün gecikme cezası', CAST(N'2025-12-26T11:32:40.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[fines] OFF
GO
SET IDENTITY_INSERT [dbo].[loans] ON 

INSERT [dbo].[loans] ([id], [user_id], [book_id], [alis_tarihi], [son_teslim_tarihi], [iade_tarihi], [ceza_tutari]) VALUES (1, 5, 3, CAST(N'2025-12-21T23:31:56.063' AS DateTime), CAST(N'2026-01-04T23:31:56.063' AS DateTime), CAST(N'2025-12-24T17:29:25.660' AS DateTime), NULL)
INSERT [dbo].[loans] ([id], [user_id], [book_id], [alis_tarihi], [son_teslim_tarihi], [iade_tarihi], [ceza_tutari]) VALUES (2, 5, 4, CAST(N'2025-12-21T23:32:16.427' AS DateTime), CAST(N'2026-01-04T23:32:16.427' AS DateTime), CAST(N'2025-12-24T17:29:19.833' AS DateTime), NULL)
INSERT [dbo].[loans] ([id], [user_id], [book_id], [alis_tarihi], [son_teslim_tarihi], [iade_tarihi], [ceza_tutari]) VALUES (3, 5, 46, CAST(N'2025-12-24T14:51:52.777' AS DateTime), CAST(N'2026-01-07T14:51:52.777' AS DateTime), CAST(N'2025-12-24T17:53:48.100' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[loans] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [ad], [soyad], [email], [sifre_hash], [rol], [created_at], [role]) VALUES (1, N'salih', N'saka', N'salih@gmail.com', N'scrypt:32768:8:1$Y3ai0Ema1MLhJpkc$3256b0f791ab86268c4fba946e8108eb815f2da3f8c9f50701eb86acf226e2c16cdb98175d80f188540f5360737980ddcfe3d4fc910bd5c6f502976f02e01837', N'student', CAST(N'2025-12-14T21:23:50.967' AS DateTime), N'user')
INSERT [dbo].[users] ([id], [ad], [soyad], [email], [sifre_hash], [rol], [created_at], [role]) VALUES (2, N'Ahmet', N'Yilmaz', N'ahmet@ogr.com', N'scrypt:32768:8:1$oywFE4uAyOOrMBmA$e83881144856089d6dc26e27a3dd418ad5a5e53dbfe0b443f86d3b1daf27bfc0d484c2ddd9602cf78566107f4f011845b771e856f45c57ca16cf52e83768d958', N'student', CAST(N'2025-12-14T21:23:50.967' AS DateTime), N'user')
INSERT [dbo].[users] ([id], [ad], [soyad], [email], [sifre_hash], [rol], [created_at], [role]) VALUES (3, N'Ayse', N'Demir', N'ayse@ogr.com', N'scrypt:32768:8:1$XXu4KfUbjdowkZAf$ff1e2d32f8e9e479b0941ab251690b04339545de6732e9e97ad76ceabd46f87d0d4eeafd93714e0636580d5a50cc473e3e4d4675eea178280890f0360dc94740', N'student', CAST(N'2025-12-14T21:23:50.967' AS DateTime), N'user')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61641448F506]    Script Date: 27.12.2025 15:53:13 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [stok]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[fines] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[loans] ADD  DEFAULT (getdate()) FOR [alis_tarihi]
GO
ALTER TABLE [dbo].[loans] ADD  DEFAULT ((0)) FOR [ceza_tutari]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[fines]  WITH CHECK ADD FOREIGN KEY([loan_id])
REFERENCES [dbo].[loans] ([id])
GO
ALTER TABLE [dbo].[fines]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[loans]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[loans]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapIadeEt]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. ADIM: Prosedürü tekrar oluştur (Artık tablo düzgün olduğu için hata vermeyecek)
CREATE PROCEDURE [dbo].[sp_KitapIadeEt]
    @loan_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SonTeslim DATETIME;
    DECLARE @Suan DATETIME = GETDATE();
    DECLARE @GecikmeGun INT;
    DECLARE @CezaTutar DECIMAL(10,2);
    DECLARE @UserID INT;
    DECLARE @KitapID INT;

    -- Bilgileri çek
    SELECT @SonTeslim = son_teslim_tarihi, @UserID = user_id, @KitapID = book_id
    FROM loans WHERE id = @loan_id;

    -- Kontrol: Zaten iade edilmiş mi?
    IF EXISTS (SELECT 1 FROM loans WHERE id = @loan_id AND iade_tarihi IS NOT NULL)
    BEGIN
        RAISERROR('Bu kitap zaten iade edilmiş.', 16, 1);
        RETURN;
    END

    -- Hesaplama: Gecikme var mı?
    IF @Suan > @SonTeslim
    BEGIN
        SET @GecikmeGun = DATEDIFF(day, @SonTeslim, @Suan);
        
        -- Günlük 5 TL Ceza
        SET @CezaTutar = @GecikmeGun * 5.00;

        -- Ceza Tablosuna Ekle (Artık bu kolonlar var, hata vermez)
        INSERT INTO fines (user_id, loan_id, tutar, aciklama)
        VALUES (@UserID, @loan_id, @CezaTutar, CONCAT(@GecikmeGun, ' gün gecikme cezası'));
    END

    -- İade işlemini tamamla
    UPDATE loans SET iade_tarihi = @Suan WHERE id = @loan_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KitapIadeVeCeza]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Bu Prosedür: Kitap iade edildiğinde çalıştırılır.
-- Eğer gecikme varsa günlük 5 TL ceza hesaplar ve 'fines' tablosuna yazar.
CREATE PROCEDURE [dbo].[sp_KitapIadeVeCeza]
    @loan_id INT,
    @iade_tarihi DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @son_tarih DATETIME;
    DECLARE @uye_id INT;
    DECLARE @gecikme_gun INT;
    DECLARE @ceza_tutari FLOAT;

    -- 1. Ödünç bilgilerini al
    SELECT @son_tarih = son_teslim_tarihi, @uye_id = user_id
    FROM loans WHERE id = @loan_id;

    -- 2. İade tarihini güncelle
    UPDATE loans 
    SET iade_tarihi = @iade_tarihi 
    WHERE id = @loan_id;

    -- 3. Kitap stoğunu 1 artır (İade alındı)
    -- Not: Bunu Trigger ile de yapabilirdik ama prosedür örneği olsun diye buraya koyduk.
    DECLARE @book_id INT;
    SELECT @book_id = book_id FROM loans WHERE id = @loan_id;
    UPDATE books SET stok = stok + 1 WHERE id = @book_id;

    -- 4. Ceza Hesapla (Gecikme varsa)
    IF @iade_tarihi > @son_tarih
    BEGIN
        -- Geciken gün sayısı (DATEDIFF iki tarih arasındaki farkı verir)
        SET @gecikme_gun = DATEDIFF(DAY, @son_tarih, @iade_tarihi);
        
        -- Günlük 5 TL ceza
        SET @ceza_tutari = @gecikme_gun * 5.0;

        -- Ceza tablosuna ekle
        INSERT INTO fines (loan_id, uye_id, miktar, odendi_mi, created_at)
        VALUES (@loan_id, @uye_id, @ceza_tutari, 0, GETDATE());
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciCezalariniGetir]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- YENİ PROSEDÜRÜMÜZ
CREATE PROCEDURE [dbo].[sp_KullaniciCezalariniGetir]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        l.id AS loan_id,
        b.ad AS kitap_adi,
        b.yazar,
        l.alis_tarihi,
        l.son_teslim_tarihi,
        
        -- GECİKME HESABI (SQL TARAFINDA)
        -- Eğer bugün, teslim tarihinden büyükse farkı al, yoksa 0 yaz.
        CASE 
            WHEN GETDATE() > l.son_teslim_tarihi THEN DATEDIFF(day, l.son_teslim_tarihi, GETDATE())
            ELSE 0 
        END AS gecikme_gun,

        -- CEZA HESABI (GÜNLÜK 5 TL)
        -- Gecikme gününü 5 ile çarp
        CASE 
            WHEN GETDATE() > l.son_teslim_tarihi THEN DATEDIFF(day, l.son_teslim_tarihi, GETDATE()) * 5
            ELSE 0 
        END AS ceza_tutari

    FROM loans l
    INNER JOIN books b ON l.book_id = b.id
    WHERE l.user_id = @UserId 
      AND l.iade_tarihi IS NULL; -- Sadece iade edilmemişleri getir
END
GO
/****** Object:  Trigger [dbo].[trg_KitapOduncAl]    Script Date: 27.12.2025 15:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_KitapOduncAl]
ON [dbo].[loans]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON; -- Bu satır olmazsa Python hata verir!
    
    UPDATE books
    SET stok = stok - 1
    FROM books
    JOIN inserted ON books.id = inserted.book_id;
END;
GO
ALTER TABLE [dbo].[loans] ENABLE TRIGGER [trg_KitapOduncAl]
GO
USE [master]
GO
